.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 12px 0px 26px;
    cursor: pointer;
}
.activecontainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 12px 2px 26px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #333;
    color: white;
}
.container:hover {
    background-color: #ECF2FF;
    transition: 200ms ease-out ;
}
.avtimg{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    object-fit: cover;
}
.left{
    display: flex;
    gap: 1rem;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
}